{{ "<!-- navigation -->" | safeHTML }}
<header>
    {{ "<!-- top header -->" | safeHTML }}
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline text-lg-right text-center">
                        <li class="list-inline-item">
                           {{ with .Site.Params.mail }} <a href="mailto:{{ . }}">{{ . }}</a> {{ end }}
                        </li>
                        <li class="list-inline-item">
                            {{ with .Site.Params.mobile }} <a href="callto:{{ . }}">Appelez nous:
                                <span class="ml-2">{{ . }}</span> {{ end }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ "<!-- nav bar -->" | safeHTML }}
    <div class="navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ .Site.Params.BaseURL | absURL }}">
                    <img src="{{ .Site.Params.logo | absURL }}" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="{{ .Site.BaseURL }}{{ .Language.LanguageName | lower }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>
                        </li>
                        {{ range .Site.Menus.nav }}
                        {{ if .HasChildren }}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                {{ .Name }}
                            </a>
                            <div class="dropdown-menu" >
                                {{ range .Children }}
                                <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
                                {{ end }}
                            </div>
                        </li>
                        {{ else }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                        {{ end }}

                        {{ if .Site.Params.quoteBtn.enable }}
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary btn-sm" href="{{ .Site.Params.quoteBtn.btnURL | absURL }}">{{ with .Site.Params.quoteBtn.btnText }} {{ . }} {{ end }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    <!-- Language List -->
                    <ul class="list-inline text-center mb-0">
                      {{ range $.Site.Home.AllTranslations }}
                      <li class="list-inline-item"><a class="text-dark" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                      {{ end }}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
