{{ define "main" }}

{{ partial "hero-slider.html" . }}

{{ partial "about.html" . }}

{{ partial "mission.html" . }}


{{ partial "skill.html" . }}







{{ partial "promoVideo.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "cta.html" . }}

{{ "<!-- blog -->" | safeHTML }}
<section class="section bg-gray">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h5 class="section-title-sm">Latest News</h5>
                <h2 class="section-title section-title-border-gray">Company News</h2>
            </div>
            
            {{ range $index, $element:= where .Data.Pages "Type" "post" }}
            {{ if lt $index 3}}
            {{ "<!-- blog-item -->" | safeHTML }}
            <div class="col-lg-4 col-sm-6 mb-4">
                <article class="card">
                    <div class="card-img-wrapper overlay-rounded-top">
                        <img class="card-img-top" src="{{ .Params.image | absURL }}" alt="blog-thumbnail">
                    </div>
                    <div class="card-body p-0">
                        <div class="d-flex">
                            <div class="py-3 px-4 border-right text-center">
                                <h3 class="text-primary mb-0">{{ .PublishDate.Format "02" }}</h3>
                                <p class="mb-0">{{ .PublishDate.Format "Jan" }}</p>
                            </div>
                            <div class="p-3">
                                <a href="{{ .Permalink }}" class="h4 font-primary text-dark">{{ .Title }}</a>
                                <p>by {{ .Params.Author }}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ "<!-- /blog -->" | safeHTML }}

{{ partial "clientsLogoSlider.html" . }}

{{ end }}
